{% extends 'base.html.twig' %}

{% block title %}DCCollab{% endblock %}

{% block body %}

    <div class="bg" style="background-image:url('{{ asset('images/background 2.png') }}') ;">

        <div class="container">
            {% if app.user %}
            <div class="mx-auto col-md-7">
                <div class="mx-auto">
                    <img src="{{ asset('images/logo.png') }}" alt="logo ">
                </div>
                <div class="rox mx-auto col-md-6 ">
                <h2 class="justify-content-center ">Bienvenue {{ app.user.fullname }}</h2>
                </div>
            </div>
            {% else %}
            <div class="justify-content-center">
                <div class="row justify-content-center"></div>
                <div class="m-5">
                    <div class="mx-auto col-md-6 m-3">
                        <img src="{{ asset('images/logo.png') }}" alt="logo-blanc" ">
                    </div>
                    <div class="mx-auto col-md-9 m-3">
                        <div></div>
                        <h2 class="lead text-primary">«  Se réunir est un début, Rester ensemble est un progrès,
                            Travailler ensemble est
                            la Réussite »</h2>
                        <h5 class="text-danger">Henry Ford</h5>
                    </div>
                </div>
                <div class="mx-auto col-md-10 m-3">
                    <p class="text-white">Bonjour, bienvenue sur l’Extranet.
                        Vous êtes candidat, étudiant, ancien, enseignant, entreprise, ou membre de l’administration du
                        réseau,
                        accédez aux services qui vous sont proposés en vous connectant ci-contre..</p>
                    <hr class="my-4">

                    <p class="lead offset-5">
                        <a class="btn btn-danger btn-lg" href="{{ path('app_login') }}" role="button">Connection</a>
                    </p>
                </div>

            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}
