{% extends 'base.html.twig' %}

{% block title %}Projet{% endblock %}
{# Surcharge de blocks : on projète du contenu dans les différents blocks de thème #}
{% block body %}

    <div class="container">
        <h1 class="text-danger">{{ projet.nom }}</h1>
        <div class="row">
            <div class="col4">
                <img style="height: 200px; width: 100%; display: block;" src={{ asset('uploads/' ~ projet.image  ) }}>
            </div>
            <div class="col-6">
                <p>projet crée le :
                    {{ projet.dateCreation|date("d/m/Y") }}
                <br> </p>
                <div>
                    <p>Par : {{ projet.user.fullname }} </p>
                </div>
                <span class="">
                    {{ projet.user.email }}
                </span>
            </div>
        </div>
        <br>

        <article>
            <p>{{ projet.contenu }}</p>

            <h2>Compétences recherchées</h2>
            {% for competence in projet.competence %}
            <li><a href="{{ path('competence_show',{'id':competence.id}) }}"
                   class="text-primary">{{ competence.nom }}</a></li>

            {% endfor %}<br>
        </article>

        <article>
            <h2>Utilisateurs potentiels : </h2>
            {% for competence in projet.competence %}
                <a href="{{ path('competence_show',{'id':competence.id}) }} "
                > </a>
                <span> {{ include('competence/_thumbnail.html.twig') }}</span>

            {% endfor %}

        </article>
        <a href="{{ path('projet_index') }}">back to list</a>



    </div>
{% endblock %}

