{% extends 'base.html.twig' %}

{% block title %}Projet{% endblock %}

{# Surcharge de blocks : on projète du contenu dans les différents blocks de thème #}
{% block body %}

    <div class="container">
        <h1>{{ projet.nom }}</h1>
        <div class="row">
            <div class="col4">
                <img src="{{ asset(projet.imageOrPlaceholder) }}" alt="{{ projet.nom }}" class="img-fluid">
            </div>
            <div class="col-8">

                <h1>{{ projet.nom }}</h1>
                <span class="">
                    <i class="fa fa-user"></i>
                    {{ projet.user.fullname }}
                </span>
            </div>
        </div>

        <article>
            <p>{{ projet.contenu }}</p>
            <ul class="list-group">
                <h2>Compétences recherchées</h2>
                {% for competence in projet.competence %}
                    <li><a href="{{ path('competence_show',{'id':competence.id}) }}"
                           class="">{{ competence.nom }}</a></li>

                {% endfor %}
            </ul>
        </article>

        <article>
            <ul class="list-group">
                <h2>Utilisateurs potentiels : </h2>
                {% for competence in projet.competence %}
                    <li><a href="{{ path('competence_show',{'id':competence.id}) }}"
                          ></a></li>
                    {{ include('competence/_thumbnail.html.twig') }}

                {% endfor %}
            </ul>
        </article>


    </div>
{% endblock %}

