{% extends 'base.html.twig' %}

{% block title %}Projet{% endblock %}

{# Surcharge de blocks : on projète du contenu dans les différents blocks de thème #}
{% block body %}

    <div class="container">
        <h1 class="text-danger">{{ projet.nom }}</h1>
        <div class="row">
            <div class="col4">
                <img src="{{ asset(projet.imageOrPlaceholder) }}" alt="{{ projet.nom }}" class="img-fluid">
            </div>
            <div class="col-8">
                <h3>{{ projet.nom }}</h3>
                <span class="">
                    <i class="fa fa-user"></i>
                    {{ projet.user.fullname }}
                </span>
                <span class="">
                    <i class="fa fa-user"></i>
                    {{ projet.user.fullname}}
                </span>
            </div>
        </div>
        <br>

        <article>
            <p>{{ projet.contenu }}</p>

            <h2>Compétences recherchées</h2>
            {% for competence in projet.competence %}
                <li><a href="{{ path('competence_show',{'id':competence.id}) }}"
                       class="text-primary">{{ competence.nom }}</a></li>

            {% endfor %}<br>

        </article>

        <article>

            <h2>Utilisateurs potentiels : </h2>
            {% for competence in projet.competence %}
                <a href="{{ path('competence_show',{'id':competence.id}) }} "
                >  </a>
                <span> {{ include('competence/_thumbnail.html.twig') }}</span>

            {% endfor %}

        </article>


    </div>
{% endblock %}

