{% extends 'base.html.twig' %}

{% block title %}Liste Utilisateurs{% endblock %}

{% block body %}
    <div class="container">
        <h1>Liste des étudiants Digital Campus</h1>

        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">Email</th>
                <th scope="col">Ecole</th>
                <th scope="col"> Voir la fiche étudiant</th>

            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr class="table-active">
                    <td>{{ user.nom }}</td>
                    <td>{{ user.prenom }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.ecole }}</td>
                    <td><a href="{{ path('user_show',{'id':user.id}) }}">voir plus</i></a></td>

                </tr>
            {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
            {% endfor %}
            </tbody>


        </table>



    </div>
{% endblock %}
