{% extends 'base.html.twig' %}

{% block title %}Etudiants{% endblock %}

{% block body %}
    <div class="container etudiant">

        <h1>{{ user.fullname }}</h1><br>

        <table class="table table-hover">

            <thead>
            <tr>
                <th scope="col">Email</th>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">Prenom</th>
                <th scope="col">DateNaissance</th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-active">
                <td>{{ user.email }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.ecole }}</td>
                <td>{{ user.dateNaissance ? user.dateNaissance|date('Y-m-d') : '' }}</td>
            </tr>

            </tbody>
        </table>

        <a href="{{ path('user_index') }}">back to list</a>

    </div>


{% endblock %}
